{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Login {% endblock %}
{% block description %} Welcome to Taycan - PORSCHE {% endblock %}
{% block content %}
<!--
BEGINS CONTENT
-->
<div class="page-header register-page header-filter" filter-color="black" style=" padding-bottom: 50px;">
    <div class="container-fluid">
        <br class="d-none d-sm-block">
        <div class="row mx-2">
            <br>
            <center class="ml-auto mr-auto">
            <img class="img-fluid" src="{% static 'assets/img/porsche/porsche-name.png' %}" style="max-height: 25px;">
            <br>
            <br>


            <img class="img-fluid" src="{% static 'assets/img/porsche/Taycan-white-Lettering.png' %}" style="max-height: 100px;">
                <div hidden class="d-block d-sm-none" style="min-height: 120px;"></div>
                <div class="d-none d-md-none" style="min-height: 200px;"></div>
            </center>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto" style="padding-top: 10%">
                <form class="form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="card card-hidden"
                         style="background: none; border: 1px solid white; border-radius: 15px; padding: 6px; ">
                        <div style="background-color: rgba(255, 255, 255, 0.1); border-radius: 15px;">
                            {% if error_messages %}
                            <br>
                            <div class="alert alert-warning">
                                {% autoescape off %}
                                <center>
                                    <strong>{{mail}}<br>{{ error_messages }}</strong>
                                </center>
                                {% endautoescape %}
                            </div>
                            {% endif %}
                            {% if time_messages %}
                            <br>
                            <div class="alert alert-warning" center>
                                <strong>{{ time_messages }}</strong>
                            </div>
                            {% endif %}
                            <div class="card-body ">
                                <br>
                                <h3 class="text-center text-white">INICIO DE SESIÓN</h3>
                                <br>
                                <span class="bmd-form-group">
                      <div class="input-group">
                      <!-- <input type="email" class="form-control" placeholder="Email"> -->
                      <input type="text" name="usuario" id="id_usuario" class="form-control" placeholder="Usuario"
                             required>
                    </div>
                  </span>
                                <br>
                                <span class="bmd-form-group">
                    <div class="input-group">
                      <!-- <input type="email" class="form-control" placeholder="Email"> -->
                      <input type="text" name="username" id="id_username" class="form-control"
                             placeholder="Código de Acceso" required>
                    </div>
                  </span>
                                <br>
                                <!--                   <span class="bmd-form-group">
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          <i class="material-icons">mail</i>
                                                        </span>
                                                      </div>
                                                      <input type="text" name="password" required id="id_password" placeholder="Email" class="form-control" required>
                                                    </div>
                                                  </span> -->
                                <center>
                                    <button class="btn btn-lg btn-white mt-1" style="border-radius: 25px" type="submit"><b>&nbsp; &nbsp; ENTRAR &nbsp; &nbsp; </b></button>
                                </center>
                                <br>

                                {% if error_messages %}
                                <center>
                                    <a HIDDEN href="{% url 'register' %}" class="btn btn-lg btn-success">Click here to
                                        Register today</a>
                                    <br>
                                    <br>
                                </center>

                                {% endif %}
                            </div>
                        </div>

                    </div>
                </form>
                <style>
                    @media (max-width: 990px) {
                        .card-hidden {
                            margin: 0 auto;
                        }
                    }

                    @media (min-width: 990px) {
                        .card-hidden {
                            margin-right: 10%;
                        }
                    }

                    @media screen and (max-width: 640px) {
                              body {
                                background-color:black;
                                background-image: url('{% static 'assets/img/porsche/Backroundmobile@2x.jpg' %}') !important;
                                background-size: 100%;
                                background-attachment: fixed;
                                background-position: center top;
                                background-repeat: no-repeat
                            }
                          }
                </style>
            </div>
        </div>
    </div>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ejemplo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="{% static 'assets/img/ejemplo-pedido-2.jpeg' %}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
<!--
ENDS CONTENT
-->
{% endblock %}